* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f4f4f4;
  padding: 20px;
  z-index: 100;
}

a{
text-decoration:none;
color: black;
}

#logo {
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Button styles */
Button {
  /* Set a background color and text color for the button */
  background-color: #007bff;
  color: #fff;

  /* Add some padding and border styles */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;

  /* Add a hover effect */
  transition: background-color 0.3s ease;
}

Button:hover {
  /* Change the background color on hover */
  background-color: #0056b3;
}


/* Cart item styles */
.cart-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.cart-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-item .product-info {
  flex-grow: 1;
}

.cart-item .product-title {
  font-weight: bold;
}

.cart-item .product-price {
  font-weight: bold;
  margin-top: 5px;
}

.cart-total {
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

main {
  padding-top: 180px;
}

.section {
  padding: 50px;
}

.section h1,
.section h2 {
  text-align: center;
}

#products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  margin: 20px;
  width: 300px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  transition: all 0.3s ease;
}
#cart-notification-dot {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  z-index: 999;
}

#cart-notification-dot.animate {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.product-image{
  height: 450px;
}

.product-card .product-image {
  width: 277px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-card .product-title {
  margin-bottom: 5px;
}

.product-card .product-description {
  margin-bottom: 10px;
}

.product-card .product-price {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  #logo {
    width: 100px;
    height: 100px;
  }

  .product-card {
    width: 100%;
  }
}
